@{
    ViewData["Title"] = "Home Page";
    // View could override their choseein layout
}
@using ApplicationCore.Entities;
@using Web.Helper
@model List<Product>;
<!-- Content -->
<div id="content">
    <!-- Content Slider -->
    <div id="slider" class="box">
        <div id="slider-holder">
            @* TOP SELLING PRODUCT *@
            <ul>

                <li><a href="#"><img src="~/images/slide1.jpg" alt="" /></a></li>
                <li><a href="#"><img src="~/images/slide1.jpg" alt="" /></a></li>
                <li><a href="#"><img src="~/images/slide1.jpg" alt="" /></a></li>
                <li><a href="#"><img src="~/images/slide1.jpg" alt="" /></a></li>
            </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a>
        </div>
    </div>
    <!-- End Content Slider -->

    @* // ProductView *@
    @{
        List<List<Product>> chunkedProducts = (@Model).ChunkBy(3);
    }
    @for (int i = 0; i < chunkedProducts.Count; i++)
    {
        @* var isNewRow = (i % 2 == 0);
            var newRowStyle = isNewRow ? "margin-bottom:9px" : ""; *@
        <div class="products" style="margin-bottom:9px">
            <div class="cl">&nbsp;</div>
            <ul>
                @foreach (var item in chunkedProducts[i].Select((value, i) => (value, i)))
                {
                    var colIndex = (item.i + 1);
                    bool isLast = (colIndex % 3 == 0);
                    var lastProductStyle = isLast ? "last" : "";

                    <li class="@lastProductStyle">
                        <a href="@Url.Action("Index","Product",new {ID = @item.value.ID})">
                            <img src="~/@item.value.ImageURL" alt="" />
                        </a>
                        <div class="product-info">
                            <h3>@item.value.Name</h3>
                            <div class="product-desc">
                                <h4>@item.value.Catergory.Name</h4>
                                <p>
                                    @item.value.Description.Substring(0,20)
                                </p>
                                <strong class="price">$@item.value.Price</strong>
                            </div>
                        </div>
                    </li>


                }
            </ul>
            <div class="cl">&nbsp;</div>
        </div>
    }
</div>
<!-- End Content -->
