@using ApplicationCore.Enum
@using Web.Helper
@using Web.Services
@model ApplicationCore.Entities.Order;
@using ApplicationCore.Interfaces;
@inject IUserService UserServiceHelper;

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
    var order_status_color = TransactionStatusColorHelper.ColorByTransactionStatus(Model.status);
    var list_of_address = (UserServiceHelper as UserService).GetUserShipmentAddress(Model.AppUser);
}

<link rel="stylesheet" href="~/css/cart_ui.css">
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row justify-content-between w-75">
                                <h5 class="mr-3">Order - #@Model.ID</h5>
                                <h6 class="badge @order_status_color text-white">Status @Model.status</h6>
                            </div>
                            <h6 class="mr-3">@Model.CreatedAt</h6>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h5 class="mb-3">Address information</h5>
                        <div class="row p-3">
                            <select id="btn-choice-address" class="form-select" aria-label="Default select example">
                            @{
                                <option >Select your location</option>
                            foreach (var item in list_of_address)
                            {
                                <option value="@item.ID">@item.StreetAddress</option>
                            }
                            }  
                            </select>
                            @if (list_of_address.Count == 0)
                            {
                                
                            }
                        </div>


                    @{
                        foreach (var item in list_of_address)
                        {
                        <div id="address-@item.ID" class="address-box" style="display: none;">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="exampleInputEmail1">First name</label>
                                    <input type="text" class="form-control address-box-first-name" placeholder="First name"
                                        value="@item.FirstName" disabled>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail1">Last name</label>
                                    <input type="text" class="form-control address-box-last-name" placeholder="Last name" value="@item.LastName" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="exampleInputEmail1">Address</label>
                                                   <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text material-icons" id="basic-addon1">home</span>
                                    </div>
                                    <input type="text" class="form-control address-box-phone" placeholder="@item.StreetAddress"
                                        value="@item.StreetAddress" disabled>
                                </div>
                                </div>
                                <div class="col">
                                <label for="exampleInputEmail1">Phone</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text material-icons" id="basic-addon1">call</span>
                                    </div>
                                    <input type="text" class="form-control address-box-phone" placeholder="@item.PhoneNumber"
                                        value="@item.PhoneNumber" disabled>
                                </div>

                                </div>
                            </div>
                        </div>
                    }}
                    <div id="edit-box">
                            <div class="container p-2" id="btn-add-address">
                                <a asp-action="Profile" asp-controller="User">
                                    <div class="bg-light d-flex justify-content-center">
                                        <span class="material-icons md-48">edit</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>@Model.OrderDetails.Count</strong>) items</span>
                        <h5>Items in your order</h5>
                    </div>

                    @* Item render block *@
                    @{
                        if (@Model.OrderDetails != null)
                        {
                            foreach (var item in @Model.OrderDetails)
                            {
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table shoping-cart-table">
                                            <tbody>
                                                <tr>
                                                    <td width="90">
                                                        <img src="~/@item.Product.ImageURL"
                                                    class="cart-product-imitation">
                                                    </td>
                                                    <td class="desc">
                                                        <h3>
                                                            <a asp-action="Index" asp-controller="Product"
                                                    asp-route-id="@item.Product.ID" class="text-navy">
                                                                @item.Product.Name
                                                            </a>
                                                        </h3>
                                                        <p class="small">
                                                            @item.Product.Catergory
                                                        </p>
                                                        <dl class="small m-b-none">
                                                            <dt>Description lists</dt>
                                                            <dd>@item.Product.Description</dd>
                                                        </dl>
                                                    </td>

                                                    <td>
                                                        $@item.Product.PromotionPrice
                                                        <s class="small text-muted">$@item.Product.Price</s>
                                                    </td>
                                                    <td width="95">
                                                        <input type="number" disabled id="@item.ProductID-quantity"
                                                    class="form-control quantity-btn" value=@item.Quantity>
                                                    </td>
                                                    <td>
                                                        <h4>
                                                            $@item.OrderDetailTotalPrice
                                                        </h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            }
                        }
                    }


                    @* Helper box *@
                    <div class="ibox-content">
                        @if (Model.status == TransactionStatus.WaitForComformation)
                        {
                            <a asp-action="UpdateStatus" asp-controller="Order"
                            asp-route-id="@Model.ID"
                            asp-route-status="@((int)TransactionStatus.Comformed)" class="btn btn-primary pull-right"><i
                                class="fa fa fa-shopping-cart btn"></i>
                                Comform</a>
                        }
                        <a class="btn btn-white" asp-action="Index" asp-controller="Home"><i
                                class="fa fa-arrow-left"></i> Continue shopping</a>

                    </div>
                </div>

            </div>
            <div class="col-md-3 sticky-top">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            $ @Model.Total
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

<script>
    @* window.addEventListener('load', initEventForUpdateButton); *@
        $(document).ready(() => {
            initEventForSaveAdressButton();
        })

    function initEventForSaveAdressButton() {
        $("#btn-choice-address").on("change", event => {
            var order_index = $("#btn-choice-address").find(":selected").val();
            if (order_index){
                $(".address-box").css("display", "none");
                $(".edit-box").css("display", "none");
                $("#edit-box").css("display", "block");
                $("#address-"+order_index).css("display", "block");
            }


        })
    }

                @* var data = []
            var list_of_address_box = document.getElementsByClassName("address-box")
            for(let i = 0; i < list_of_address_box.length; i++){
                var temp_data = gatherAdrressBox(list_of_address_box[i])
                data.push(temp_data)
            }
            UploadAddress(data) *@

    function gatherAdrressBox(event){
        var boxes = { frist_name :".address-box-first-name", last_name : ".address-box-last-name" , 
        address: ".address-box-address",
        phone : ".address-box-phone"}
        var frist_name =  $(event).find(boxes.frist_name).val()
        var last_name =$(event).find(boxes.last_name).val()
        var phone =  $(event).find(boxes.phone).val()
        var address =  $(event).find(boxes.address).val()
        return {
            LastName : last_name,
            FirstName : frist_name,
            PhoneNumber : phone,
            StreetAddress:address
        }

    }
</script>
}